<nav class="navbar">
    <div class="navbar-left">
        <img src="path/to/logo.png" alt="Logo" class="navbar-logo">
        <span class="navbar-app-name">Nombre de la App</span>
    </div>
    <div class="navbar-center">
        <a routerLink="/home" class="navbar-link">Home</a>
        <a routerLink="concerts-page" class="navbar-link">Conciertos</a>
    </div>
    <div class="navbar-right">
        <a href="/profile" class="navbar-link">Profile</a>
        <app-newpostbutton></app-newpostbutton>

    </div>
</nav>